<template>
  <v-container fill-width fill-height pa-0>
    <v-row justify="center" class="align-self-start">
      <SectionTitle v-bind:title="'Contacts'" class="col col-12" />
      <NodeInfo />
    </v-row>
    <v-row justify="center">
      <DataEditHint />
    </v-row>
    <v-row class="align-self-start mt-10" justify="center">
      <v-col cols="11" class="px-0">
        <Pagination
          @pagination-object="checkPaginationObject"
          v-bind:sortDirection="sortDirection"
          v-bind:totalItems="totalContacts"
          v-bind:tags="tags"
        />
        <div class="d-flex mx-4">
          <v-autocomplete
            style="max-width:28%;"
            dense
            clearable
            :items="organisations"
            v-model="selectedOrga"
            :search-input.sync="searchForOrga"
            return-object
            item-text="name"
            :loading="isOrgLoading"
            persistent-hint
            label="Search for organisation"
            hint="Contacts belong to the chosen organisation"
            append-icon="mdi-magnify"
            @change="
              page = 1;
              getContacts();
            "
          >
          </v-autocomplete>
          <v-select
            v-if="tags && tags.length"
            dense
            label="Filter by Orga-Tag"
            class="ml-4"
            style="max-width: 22%;"
            :items="orgaTags"
            @change="
              page = 1;
              getContacts();
            "
            v-model="orgaTagToFilterBy"
            return-object
            clearable
            item-text="name"
          ></v-select>
        </div>
      </v-col>
    </v-row>
    <v-row class="align-self-start mt-6" justify="center">
      <v-col cols="8" v-if="loading">
        <v-text-field loading disabled></v-text-field>
      </v-col>
      <v-col cols="11" class="text-center px-0">
        <v-data-iterator
          :items="contacts"
          item-key="contact_id"
          :server-items-length="totalContacts"
          hide-default-footer
        >
          <template v-slot:default="{ items }">
            <v-row class="px-2" justify="space-around">
              <v-col
                v-for="item in items"
                :key="item.contact_id"
                cols="12"
                sm="8"
                md="5"
                lg="4"
              >
                <v-card
                  class="text-start overflow-y-auto"
                  height="100%"
                  width="100%"
                  :style="{
                    border:
                      item.type === 'abusec' ? '1px rgba(0,0,0,0.5) solid' : ''
                  }"
                >
                  <v-toolbar flat dense>
                    <v-toolbar-title class="mr-2">
                      {{ getTitle(item) }}
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <div class="d-flex">
                      <v-tooltip top v-if="item.type !== 'abusec'">
                        <template v-slot:activator="{ on, attrs }">
                          <v-icon
                            medium
                            v-bind="attrs"
                            v-on="on"
                            @click="requestToEdit(item)"
                            >mdi-pencil</v-icon
                          > </template
                        ><span>Edit Contact</span></v-tooltip
                      >
                      <v-tooltip top v-if="item.type !== 'abusec'">
                        <template v-slot:activator="{ on, attrs }">
                          <v-icon
                            medium
                            v-bind="attrs"
                            v-on="on"
                            @click="requestToDelete(item)"
                            class="mx-1"
                            >mdi-delete</v-icon
                          >
                        </template>
                        <span>Delete Contact</span></v-tooltip
                      >
                    </div>
                  </v-toolbar>
                  <v-divider></v-divider>
                  <ContactInfo v-bind:item="item" />
                </v-card>
              </v-col>
            </v-row>
          </template>
        </v-data-iterator>
      </v-col>
      <UIAlert
        class="d-flex mt-4 justify-center"
        v-if="
          hasRequestError ||
            isAddSuccessful ||
            isEditSuccessful ||
            isDeleteSuccessful
        "
        v-bind:isSuccessful="!hasRequestError"
        v-bind:message="
          isAddSuccessful
            ? 'Contact added successfully'
            : isEditSuccessful
            ? `${getTitle(selectedItem)} updated successfully`
            : isDeleteSuccessful
            ? `${getTitle(selectedItem)} deleted successfully`
            : $store.state.application.httpErrorMessage
        "
      />
    </v-row>
    <ManageContact
      v-bind:processType="processType"
      v-bind:item="selectedItem"
      @child-object="checkChildObject"
      v-if="showManagementDialog"
    />
    <v-dialog v-model="showDeleteDialog" max-width="530">
      <v-card>
        <v-card-title class="headline text-break" v-if="selectedItem">
          Are you sure you want to delete contact:
          {{ selectedItem.email ? selectedItem.email : "" }}?
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="showDeleteDialog = false"
            >close</v-btn
          >
          <v-btn color="blue darken-1" text @click="confirmDeletion">yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-btn
      fixed
      right
      bottom
      fab
      :class="themeTextClass"
      class="mb-16"
      id="theme"
      @click="exportContacts()"
      ><v-icon>mdi-export</v-icon></v-btn
    >
    <v-btn
      fixed
      right
      bottom
      fab
      :class="themeTextClass"
      id="theme"
      @click="
        resetNotification();
        processType = 'add';
        showManagementDialog = true;
      "
      ><v-icon>mdi-plus</v-icon></v-btn
    >
  </v-container>
</template>

<script setup lang="ts">
/*
 * This file is Free Software under GNU Affero General Public License v >= 3.0
 * without warranty, see README.md and license for details.
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 *
 * SPDX-FileCopyrightText: 2020 nic.at GmbH <https://nic.at>
 * Software-Engineering: 2020 Intevation GmbH <https://intevation.de>
 *
 * Author(s):
 * 2021, 2022 Fadi Abbud <fadi.abbud@intevation.de>
 * 2023 Martin Haidn <martin@haidn.eu>
 */
import { HTTP, CancelToken, isRequestCanceled } from "@/lib/http";
import { useNotification } from "@/lib/use-notification";
import { useStore } from "@/store";
import { getTitle } from "@/lib/use-fieldbuilder";
import papaparse from "papaparse";

import { computed, defineAsyncComponent, onMounted, ref, watch } from "vue";
import debounce from "debounce";
import JSZip from "jszip";
import { saveAs } from "file-saver";
import { useOrganisation } from "@/lib/use-organisation";
const SectionTitle = defineAsyncComponent(() =>
  import("@/components/ui/SectionTitle.vue")
);

const DataEditHint = defineAsyncComponent(() =>
  import("@/components/ui/UIDataEditHint.vue")
);
const UIAlert = defineAsyncComponent(() =>
  import("@/components/ui/UIAlert.vue")
);
const NodeInfo = defineAsyncComponent(() =>
  import("@/components/ui/NodeInfo.vue")
);
const ManageContact = defineAsyncComponent(() =>
  import("@/components/contacts/ManageContact.vue")
);
const ContactInfo = defineAsyncComponent(() =>
  import("@/components/contacts/ContactInfo.vue")
);
const Pagination = defineAsyncComponent(() =>
  import("@/components/ui/Pagination.vue")
);
const store = useStore();
const contacts = ref();
const loading = ref(false);
const {
  isAddSuccessful,
  isEditSuccessful,
  isDeleteSuccessful,
  hasRequestError,
  resetNotification
} = useNotification();
const showManagementDialog = ref(false);
const totalContacts = ref(0);
const onGoingRequest = ref(false);
let cancelToken: object;
const getContacts = () => {
  return new Promise<void>((resolve, reject) => {
    loading.value = true;
    onGoingRequest.value = true;
    let route = "";
    if (options.value) {
      route = `/contacts?page=${options.value["page"]}&row=${
        options.value.itemsPerPage
      }${options.value["search"] ? "&search=" + options.value["search"] : ""}`;
      if (options.value["tagToFilterBy"]) {
        route += "&tag=" + options.value["tagToFilterBy"];
      }
    } else {
      route = "/contacts?page=1&row=10";
    }
    if (selectedOrga.value) {
      route += "&organisation=" + selectedOrga.value.organisation_id;
    }
    if (orgaTagToFilterBy.value) {
      route +=
        "&organisation_tag=" + orgaTagToFilterBy.value.organisation_tag_id;
    }
    if (store.getters["user/isOrgaAdmin"]) {
      route += "&ancestor=" + store.state.user.selectedNode.node_id;
    }
    //Save the cancel token for the current request
    cancelToken = CancelToken.source();
    HTTP.get(route, { cancelToken: cancelToken["token"] })
      .then(response => {
        if (response.data.data) {
          contacts.value = response.data.data;
          totalContacts.value = response.data.total;
        } else {
          contacts.value = response.data;
          totalContacts.value = 0;
        }
        resolve();
      })
      .catch(error => {
        // Check if the request canceled mmanually to avoid
        // Error notification as this not a real error
        if (isRequestCanceled(error)) {
          onGoingRequest.value = false;
        } else {
          hasRequestError.value = true;
          reject();
        }
      })
      .finally(() => {
        loading.value = false;
        onGoingRequest.value = false;
      });
  });
};
const processType = ref("");
const selectedItem = ref();
const requestToEdit = item => {
  resetNotification();
  processType.value = "edit";
  selectedItem.value = item;
  showManagementDialog.value = true;
};
// Tags
const tags = computed(() => {
  return store.state.contact.contactTags;
});
const getTags = () => {
  loading.value = true;
  store
    .dispatch("contact/loadContactTags")
    .then()
    .catch(() => (hasRequestError.value = true))
    .finally(() => (loading.value = false));
};
const orgaTags = computed(() => {
  return store.state.organisation.organisationTags;
});
const getOrgaTags = () => {
  loading.value = true;
  store
    .dispatch("organisation/loadOrganisationTags")
    .then()
    .catch(() => (hasRequestError.value = true))
    .finally(() => (loading.value = false));
};
// Abuse-c
const abuseC = computed(() => {
  return store.state.contact.abuseC;
});
const getAbuceC = () => {
  loading.value = true;
  store
    .dispatch("contact/loadAbuseC", store.state.user.selectedNode.node_id)
    .then(() => {
      contacts.value.unshift(abuseC.value);
    })
    .catch(() => (hasRequestError.value = true))
    .finally(() => (loading.value = false));
};
watch(
  () => store.state.user.selectedNode,
  () => {
    getContacts();
    resetNotification();
  }
);
onMounted(() => {
  getContacts();
  getTags();
  getOrgaTags();
  getOrganisations(1);
  if (store.getters["user/isOrgaAdmin"]) {
    getAbuceC();
  }
});
const checkChildObject = e => {
  if (e.closeDialog) {
    showManagementDialog.value = false;
  }
  if (e.contactChanged) {
    getContacts();
    switch (processType.value) {
      case "add": {
        isAddSuccessful.value = true;
        break;
      }
      case "edit": {
        isEditSuccessful.value = true;
      }
    }
  }
};
// Delete Contact
const showDeleteDialog = ref(false);
const requestToDelete = item => {
  resetNotification();
  selectedItem.value = item;
  showDeleteDialog.value = true;
};
const confirmDeletion = () => {
  loading.value = true;
  HTTP.delete(
    `/organisations/${selectedItem.value.organisation_id}/contacts/${selectedItem.value.contact_id}`
  )
    .then(() => {
      getContacts();
      isDeleteSuccessful.value = true;
    })
    .catch(() => {
      hasRequestError.value = true;
    })
    .finally(() => {
      loading.value = false;
      showDeleteDialog.value = false;
    });
};
const generateCSV = items => {
  let csv = "";
  let header = [];
  store.state.application.contactRoles.forEach(role => {
    role.fields.forEach(f => {
      // Exclude the public key materials
      if (["s_mime_cert", "openpgp_pubkey"].indexOf(f.name) === -1)
        header = Array.from(new Set(header.concat(f.name)));
    });
  });
  // Reform itmes to the form, the "papaparse" accepts.
  const data = items.map(d => Object.assign({}, d));
  data.forEach((d, index) => {
    for (const i in d) {
      if (d[i] === -1) {
        data[index][i] = ""; // Avoid "-1" value in case "ZIP" field is empty
      }
      // Copy the value from the nested object to main object name
      // which gets used by "papaparse" (as using nested object is not supported for now)
      if (d[i] && typeof d[i] == "object") {
        data[index][i] = d[i].name || d[i].value || "";
      }
    }
  });
  csv = papaparse.unparse(
    {
      fields: header,
      data: data
    },
    {
      escapeFormulae: true,
      quotes: true
    }
  );
  return csv;
};
const downloadFiles = data => {
  const csvFile = generateCSV(data);
  const openpgpKeys: object[] = [];
  const smimiKeys: object[] = [];
  data.forEach(c => {
    if (c["openpgp_pubkey"]) {
      openpgpKeys.push(c["openpgp_pubkey"]);
    }
    if (c["s_mime_cert"]) {
      smimiKeys.push(c["s_mime_cert"]);
    }
  });
  const zip = new JSZip();
  const now = new Date();
  // Include these files only if they contain keys
  if (openpgpKeys.length) {
    zip.file("openpgp_pubkeys.asc", openpgpKeys.filter(k => k).join("\n"));
  }
  if (smimiKeys.length) {
    zip.file(`cms-pubkeys.crt`, smimiKeys.filter(k => k).join("\n"));
  }
  zip.file("Contacts-export.csv", csvFile);
  zip
    .generateAsync({ type: "blob" })
    .then(blob => {
      saveAs(
        blob,
        `Contacts-export-${now
          .toISOString()
          .split("T")[0]
          .replace(/-/g, "") +
          "-" +
          now
            .toISOString()
            .split("T")[1]
            .substr(0, 5)
            .replace(":", "")}.zip`
      );
    })
    .catch(error => {
      console.log(error);
    });
};
const exportContacts = () => {
  let contactsForExport = [];
  if (totalContacts.value > 10) {
    loading.value = true;
    let route = "/contacts";
    if (search.value) {
      route += "&search=" + search.value;
    }
    if (filterByTag.value) {
      route += "&tag=" + filterByTag.value;
    }
    if (selectedOrga.value) {
      route += "&organisation=" + selectedOrga.value.organisation_id;
    }
    if (orgaTagToFilterBy.value) {
      route += "&organisation_tag=" + orgaTagToFilterBy.value.organisation_id;
    }
    if (store.getters["user/isOrgaAdmin"]) {
      route += "&ancestor=" + store.state.user.selectedNode.node_id;
    }
    route = route.replace("&", "?");
    HTTP.get(route)
      .then(response => {
        contactsForExport = response.data;
        downloadFiles(contactsForExport);
      })
      .catch(() => {
        hasRequestError.value = true;
      })
      .finally(() => {
        loading.value = false;
      });
  } else {
    contactsForExport = contacts.value;
    downloadFiles(contactsForExport);
  }
};

// Organisations
const { getOrganisations, organisations, isOrgLoading } = useOrganisation();
const searchForOrga = ref("");
watch(
  () => searchForOrga.value,
  (newValue, oldValue) => {
    if (oldValue !== newValue) {
      triggerOrgaSearch(newValue);
    }
  }
);
const triggerOrgaSearch = debounce(() => {
  getOrganisations(1, undefined, searchForOrga.value);
}, 500);
const selectedOrga = ref();
const search = ref("");
const filterByTag = ref();
const options = ref({ page: 1, itemsPerPage: 10 });
const checkPaginationObject = e => {
  if (e.refresh) {
    options.value = e.options;
    // Cancel last Request if it is pending
    if (onGoingRequest.value) {
      cancelToken["cancel"]("close");
    }
    getContacts();
    search.value = e.options.search || "";
    filterByTag.value = e.options.tagToFilterBy;
  }
};
const sortDirection = ref();
const orgaTagToFilterBy = ref();
const page = 1;

// Theme icon/text class.
const themeTextClass = computed(() => {
  return store.getters["theme/getTextClass"];
});
</script>
